<div class="container">

    <h3>Home</h3>
    <div class="mb-3 col-auto">
        <label for="search" class="form-label">Search</label>
        <input list="story" name="search" id="search" class="form-control" placeholder="Type to Search..." (change)="getList($event)" autocomplete="off">

        <datalist id="story" class="list-items">
            @for(item of searchData?.hits; track item.objectID){
                <option value="item.title" class="option-item" [routerLink]="['/post-details',item.objectID]">{{item.title}}</option>
            }
        </datalist>
            <!-- {{item | json}} -->
    </div>
</div>